{{#foreach posts}}
<section id="{{comment_id}}" class="{{post_class}}">
	<h3 class="post-title">

		<a href="{{url}}">
			{{#if featured}} 📌 {{/if}} {{title}}
		</a>

		<span class="separator"> &middot; </span>{{date published_at format='MMMM D, YYYY'}}
		<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>
	</h3>
</section>
{{/foreach}}
