<!doctype html>
<html lang="en">
	<head>
	    {{! Document Settings }}
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    {{! Page Meta }}
		<title>{{{block "title"}}}</title>
			{{! Styles }}
	    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
			<link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
			<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/crisp.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/tables.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/guilatrova.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/author.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/coding.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/summary.css'}}">
			{{#is "post"}}
				<link rel="stylesheet" type="text/css" href="{{asset '/styles/subscribe-popup.css'}}">
				<link rel="stylesheet" type="text/css" href="{{asset '/styles/subscribe-form.css'}}">
			{{/is}}
			{{! Responsive Meta Tags }}
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
			{{{block "head"}}}
	    {{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<header id="header" {{#if @site.cover_image}}style="background-image: url('{{@site.cover_image}}')"{{/if}}>
			{{#if @site.logo}}
				<a id="logo" href="{{@site.url}}">
					<img src="{{@site.logo}}" alt="{{@site.title}}" />
				</a>
			{{else}}
				<h1><a href="{{@site.url}}">{{@site.title}}</a></h1>
			{{/if}}
			<p>{{@site.description}}</p>
			{{> follow}}
			{{navigation}}
		</header>
		<main id="content">
			{{{body}}}
		</main>
		<footer id="footer">
			<section id="footer-message">&copy; {{date format='YYYY'}} {{@site.title}}. Powered by <a href="http://ghost.org" target="_blank">Ghost</a> and <a href="https://github.com/kathyqian/crisp" target="_blank">Crisp</a>.</section>
		</footer>
	{{ghost_foot}}

	<!-- Coding styles -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js" integrity="sha512-z+/WWfyD5tccCukM4VvONpEtLmbAm5LDu7eKiyMQJ9m7OfPEDL7gENyDRL3Yfe8XAuGsS2fS4xSMnl6d30kqGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- For the highlight badge -->
	<script src="https://unpkg.com/highlightjs-badge/highlightjs/highlight.pack.js"></script>
	<script src="https://unpkg.com/highlightjs-badge/highlightjs-badge.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();

		document.addEventListener("DOMContentLoaded", (event) => {
			var pres = document.querySelectorAll("pre>code");
			for (var i = 0; i < pres.length; i++) {
				hljs.highlightBlock(pres[i]);
			}

			var options = {
				contentSelector: "article",
				loadDelay:0,
				copyIconClass: "code-badge-copy-icon",
				checkIconClass: "code-badge-check-icon",
				onBeforeCodeCopied: function(text, codeElement) {
					if (typeof isInteractive !== 'undefined') {
						if (isInteractive && editor) {
							if (!codeSpaceOpen) {
								toggleCodeSpace();
							}

							editor.setValue(text, 1);
							editor.focus();
						}
					}

					return text;
				}
			};

			window.highlightJsBadge(options);
		});
	</script>
	</body>
</html>
